.faq-qstn {
    background: #E8E8E8;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    color: #555C5E;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;

    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    cursor: pointer;

}

.faq-ans {
    background: #F7F7F7;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #555C5E;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    border-radius: 5px;


}

.faq {
    padding-bottom: 20px;
}