.footer {
    background: #49B1B8;
    min-height: 150px;
    padding-top: -50px;

    .footer-text {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 44px;
        text-align: center;

        color: #E3E3E3;
    }

    .ibriz-text {
        color: #FF541E;
        margin-left: 10px;
    }
}