.select-wallet-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ledger-button {
    background: #41989D;
    box-shadow: -4px -4px 4px rgb(27 80 102 / 25%), inset 1px 1px 40px rgb(0 0 0 / 25%);
}

.iconex-button {
    background: #49B1B8;
    box-shadow: -4px -4px 4px rgba(27, 80, 102, 0.25), inset 1px 1px 40px rgba(0, 0, 0, 0.25);
}

.wallet-button {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 80%;
    }
}

.select-wallet {
    .modal-content {
        background: #49B1B8;
        box-shadow: 5px 5px 34px 14px rgb(0 0 0 / 25%);
    }

    .modal-body {
        padding-left: 0;
        padding-right: 0;

        .row {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}
